.sideBarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sideBarOption:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--highlight-color);
  transition: color 150ms ease-out;
}

.sideBarOption > .MuiSvgIcon-root {
  padding: 20px;
}

.sideBarOption > h2 {
  font-size: 20px;
  font-weight: 250;
  margin-right: 10px;
}
