.sidebarContent {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--hightlight-background);
  min-width: 190px;
  flex: 0.3;
  margin-top: 70px;
  padding-left: 10px;
  padding-right: 20px;
}
