* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --highlight-color: #50b7f5;
  --hightlight-background: #e6ecf0;
  --color-greyscale-xlight: #fff;
  --color-greyscale-mid: #e5e5e5;
  --color-greyscale-dark: #454d4b;
  --color-greyscale-darkest: #212529;
  --header-submenu-background: var(--color-greyscale-xlight);
  --header-links-color: var(--color-greyscale-xlight);
  --animation-fast: 250ms;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
