.accountSettings {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /* max-width: 1500px; */
}

.accountSettings__form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.accountSettings__cancel {
  margin-top: 10px;
}
